- content_for :page_title do
  Disagnostics
  
- content_for :client_class, '_showing-full-width _hide-header'
          
._medium  
  = form_tag :physician_diagnostics, :method => :get do 
    ._expandable
      .row._parent       
        .col-md-1
          ._input-title
            Search
        .col-md-3
          .input-container
            %label._search
              = search_field_tag :term, @term, :autocomplete => :off
        .col-md-2
          %div
            %a.action._control{:data => {'id' => 'search-options'}}
              Filter

      .row
        .col-md-5
          .option-ui
            ._child{:data => {'id' => 'search-options'}}
              ._wrap
                .input-container
                  %label._date-input._full-input
                    %span.name
                      Status
                    = select_tag :status, options_for_select([['All', ''], ['Archived', 'archived']], @status)
                    
                .action._large._normalize._focus{:tabindex => '0'}     
                  Search Now
                  = submit_tag 'Search Now' 
    
  .row
    .col-md-12
      - unless @diagnostics.blank?
        %table.table
          %thead
            %tr
              %th
              %th 
              %th
              %th              
              %th
              %th       
          %tbody
            - @diagnostics.each do |diagnostic|
              %tr
                %td
                  = link_to "REQ ##{diagnostic.identifier}", physician_diagnostic_path(diagnostic)
                %td= diagnostic.patient.name
                %td= diagnostic.send_to_patient
                %td= diagnostic.created_at.strftime '%m/%d/%Y'
                %td
                  %strong
                    = diagnostic.laboratory.name rescue ''
                %td.text-right      
                  = link_to "View Results", physician_test_result_path(diagnostic), :class => '_bump'    
                    
                    
      - else
        ._prompt-wrap
          ._prompt 
            - unless @term.blank?
              No requests found with 
              %span
                #{@term}.             
            - else             
              No requests have been created.                  
              
  .row
    .col-md-12
      .pull-right
        = paginate(@diagnostics)


