#client-sidebar-bg
#client-sidebar
  .row
    .col-md-12
      ._menu-wrap._logo
        .client-image
          .image-holder
            = link_to image_tag( 'logo.png'), technician_root_path
      
      ._menu-wrap._menu-links
        .menu-group
          %ul
            %li
              = active_link_to technician_diagnostics_path, :active => [['technician/diagnostics', 'technician'], ['index']] do
                %span.menu-label Incoming Requests                
            %li
              = active_link_to technician_closed_diagnostics_path do
                %span.menu-label Sent Requests             
                
      ._menu-wrap._right
        .notification-group
          %ul
            %li
              %a.get-diagnostic
                %span._notification
                  Add Diagnostic                    
            %li
              %a{:href => "javascript:void"}
                %span._show-notifications._msg-count._notification{"data-notification" => "messages"} #{current_technician.unread_messages_count_for(current_laboratory)}  
            %li._seperator._left
            %li.list-item
              %a._show-more._stage
                ._profile-image
                  = image_tag current_technician.avatar.url(:small)
                %span.menu-label 
                  #{current_technician.name rescue 'Pharmacist'}
              %div._more
                %ul                       
                  %li
                    = link_to technician_logout_path do
                      %span.menu-label Logout       
                    
#notice-container  
  ._notice-wrap
    ._ui
      - unless flash.blank?             
        = render 'partials/notice_flash'   
      = yield :notice_list         
