= form_for [:test_center, @technician] do |f|
  .section
    .row
      .col-md-4.col-md-offset-4
        .input-container
          ._input-group
            .focused   
              .row
                .col-md-12
                  ._image-holder
                    - if @technician.avatar.url(:original).blank?
                      %span.dg-icon.ic-gallery                          
                    - else
                      = image_tag @technician.avatar.url(:thumb)          
              .row          
                .col-md-12
                  %label._full-input
                    ._file-input
                      %span Upload photo
                      = f.file_field :avatar 
                        
    = f.fields_for :location, f.object.location || Location.new do |loc|
      = loc.hidden_field :asset_type, :value => 'Laboratory'
      = loc.hidden_field :asset_id, :value => current_test_center.id
      = loc.hidden_field :id
      
      ._section
        %h3.title Laboratory Information 
      ._body  
        .row
          .col-md-12
            .input-container                    
              %label._full-input
                %span.name
                  Name
                = loc.text_field :name, :class => "required", :data => {"size" => 2}
                .form-helper
                  The laboratory name is required                          
                      
    ._section
      %h3.title Primary Contact Information 
    ._body                                    
      .row
        .col-md-6
          .input-container                     
            %label._full-input
              %span.name
                First name
              = f.text_field :firstname, :class => "required"
              .form-helper
                Contact's first name is required.  
                
        .col-md-6
          .input-container                     
            %label._full-input
              %span.name
                Last name
              = f.text_field :lastname, :class => "required"
              .form-helper
                Contact's last name is required. 
                
    ._section
      %h3.title Laboratory Contact Information
    ._body
      .row
        .col-md-6
          .input-container                    
            %label._full-input
              %span.name
                Email address                
              = f.text_field :email_primary, :class => "required"
              .form-helper
                Laboratory's email is required. This isn't a valid email.                          

        .col-md-6
          .input-container                       
            %label._full-input
              %span.name
                Phone number                
              = f.text_field :phone_primary, :class => "required _tel"
              .form-helper
                Laboratory's phone number is required.                                                                                                              

    ._section
      %h3.title Address    
    ._body 
      .row
        .col-md-6
          .input-container
            %label._full-input
              %span.name
                Address line 1                
              = f.text_field :address_street_1, :class => "required"
              .form-helper
                Laboratory's address line 1 is required.                   
        .col-md-6                 
          .input-container
            %label._full-input
              %span.name
                Address line 2 (optional)                
              = f.text_field :address_street_2
      .row
        .col-md-6                                   
          .input-container
            %label._full-input
              %span.name
                Town                
              = f.text_field :address_municipality, :class => "required"
              .form-helper
                Laboratory's town is required.    
                    
        .col-md-6
          .input-container
            %label._full-input
              %span.name
                Parish           
              = f.select :address_territory, PARISHES, {:include_blank => "Select a parish"}, :class => "required"
              .form-helper
                Laboratory's parish is required.   
      .row        
        .col-md-4          
          .input-container
            %label._full-input
              %span.name
                Country             
              = f.country_select :address_country, :priority_countries => ["JM", "US"], :selected => "JM", :class => "required"
              .form-helper
                Laboratory's country is required.     

    ._section
      %h3.title Digiscripts    
    ._body     
      .row
        .col-md-6
          .input-container
            %label._full-input
              %span.name
                Password               
              = f.password_field :password, :class => "_password required _optional", :placeholder => '••••••••••••'
              .form-helper
                Please create a password                  
          .input-container
            %label._full-input
              %span.name
                Confirm password            
              = f.password_field :password_confirmation, :class => "_confirm-password required _optional", :placeholder => '••••••••••••' 
              .form-helper
                Password must match the one typed before.
      .row
        .col-md-4
          .input-container                 
            %label.checkbox
              = f.check_box :active
              %span.name
                Active                                     
  
  .row      
    .col-md-8
      = link_to 'cancel', test_center_technicians_path, :class => "action _large _cancel"      
    .col-md-4
      .action._large._normalize.pull-right._submit{:tabindex => '0'}    
        Save
        = f.submit ''   

- content_for :after_body do     
  = render 'partials/modals/modal'
