.profile-info.section                          
  .row
    .col-md-6.col-sm-12
      ._section
        %span.name #{@pharmacist.name}
        
    .col-md-6.col-sm-12
      ._body
        .row
          .col-md-6.col-xs-12
            %strong Address
            - unless @pharmacist.address_street_1.blank?
              %div.ellipsis
                #{@pharmacist.address_street_1}
            %div.ellipsis
              #{@pharmacist.address_territory}#{(', ' unless @pharmacist.address_country.blank?)} #{@pharmacist.address_country}
          .col-md-6.col-xs-12.has-border
            %strong Contact    
            - unless @pharmacist.phone_primary.blank?            
              %div.ellipsis
                #{@pharmacist.phone_primary}
            %div.ellipsis
              #{@pharmacist.email_primary}
