.profile-info.section                         
  .row
    .col-md-6.col-sm-12
      ._section
        %span.name Dr. #{@physician.name}
        
    .col-md-6.col-sm-12
      ._body
        .row
          .col-md-6.col-xs-12
            %strong Address         
            - unless @physician.address_street_1.blank?                
              %div.ellipsis
                #{@physician.address_street_1}
            %div.ellipsis
              #{@physician.address_territory}#{(', ' unless @physician.address_country.blank?)} #{@physician.address_country}
          .col-md-6.col-xs-12.has-border
            %strong Contact  
            - unless @physician.phone_primary.blank?                
              %div.ellipsis
                #{@physician.phone_primary}
            %div.ellipsis
              #{@physician.email_primary}
  