!!!
%html
  %head
    %script{:src => "https://use.typekit.net/ddt7bah.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
    %title Digiscripts - Admin  | #{yield :page_title}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.dg
    #auth-ui
      #auth-header                      
        #auth-heading
          .content-wrap
            .row
              #{yield :page_header}
              #{yield :page_action}      
      #auth-body
        #auth-content
          .content-wrap         
            = yield    