- content_for :title, "Pharmacist"
- content_for :page_title, "Pharmacist"

- content_for :page_action do
  = link_to 'New Pharmacist', new_admin_pharmacist_path, :class => 'action _default _focus'
  
- content_for :filter do  
  .col-md-4
    = form_tag :admin_pharmacists, :method => :get do
      .input-container
        %label._full-input
          = text_field_tag :term, @term, :class => "", :placeholder => "Search Pharmacist"
          .form-helper.text-right
            press Enter 
  
._medium
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th 
              %span.title Name
            %th
              %span.title Pharmacy              
            %th
              %span.title Email
            %th
              %span.title Phone              
            %th
              %span.title Reg #
            %th
              %span.title Active             
            %th.text-right
              %span.title Actions 

        %tbody
          - @pharmacists.each do |pharmacist|
            %tr
              %td
                = link_to pharmacist.name, edit_admin_pharmacist_path(pharmacist)
              %td
              %td= pharmacist.email_primary
              %td= pharmacist.phone_primary
              %td= pharmacist.reg_num
              %td
                - unless pharmacist.active? 
                  NO
                - else
                  YES
              %td.text-right
                = link_to '', admin_pharmacist_path(pharmacist), :method => :delete, :data => { :confirm => 'delete' }, :class => 'ds-icon _ic-delete'

= paginate @pharmacists

