._medium
  = form_for [:admin, @plan] do |f|
    - content_for :notice do
      - if @plan.errors.any?
        .row
          .col-md-7
            - @plan.errors.full_messages.each do |msg|          
              ._msg.error
                ._alert
                  .ds-icon._ic-info
                = msg   

    .section
      ._body             
        .row
          .col-md-12
            .input-container
              %label._full-input
                %span.name
                  Name
                = f.text_field :name, :class => 'required', :data => {"size" => "2"}
                .form-helper
                  Plan name is required.
        .row
          .col-md-12
            .input-container
              %label._full-input
                %span.name
                  Description
                = f.text_area :description
                        
    %hr 
    .section
      ._title
        Pricing
      ._body 
        .row
          .col-md-12
            .input-container
              %label._full-input
                %span.name
                  Price
                = f.number_field :price, :class => "required"
                .form-helper
                  Price is required.                

    %hr 
    .section
      ._title
        Subscription
      ._body                 
        .row
          .col-md-8
            .input-container
              %label._full-input
                %span.name
                  Total                
                = f.number_field :subscription_period_amount, :class => "required"
                .form-helper
                  Total is required.                
                
          .col-md-4
            .input-container
              %label._full-input
                %span.name
                  Time                   
                = f.select :subscription_period_unit, SUBSCRIPTION_TIME_UNITS.map{ |u| ["#{u.singularize.humanize}(s)", u.downcase] }
      
        .row
          .col-md-8
            .input-container
              %label._full-input
                %span.name
                  Grace   
                = f.number_field :grace_period_amount
                
          .col-md-4
            .input-container
              %label._full-input
                %span.name
                  Time              
                = f.select :grace_period_unit, SUBSCRIPTION_TIME_UNITS.map{ |u| ["#{u.singularize.humanize}(s)", u.downcase] }
                
        .row
          .col-md-8
            .input-container
              %label._full-input
                %span.name
                  Trial   
                = f.number_field :trial_period_amount
                
          .col-md-4
            .input-container
              %label._full-input
                %span.name
                  Time                 
                = f.select :trial_period_unit, SUBSCRIPTION_TIME_UNITS.map{ |u| ["#{u.singularize.humanize}(s)", u.downcase] }
      
    %hr 
    .section
      ._title
        Limits
      ._body                 
        .row
          .col-md-6
            .input-container
              %label._full-input
                %span.name
                  Subscriber Limit      
                = f.number_field :subscriber_limit
                
          .col-md-6
            .input-container
              %label._full-input
                %span.name
                  Organization Limit 
                = f.number_field :organization_limit                
                
    %hr 
    .section
      ._title
        Available to
      ._body              
        .row
          .col-md-12
            .input-container              
              %label.checkbox-inline
                = f.check_box :available_to_physician
                %span.name Physicians  
              
              %label.checkbox-inline
                = f.check_box :available_to_pharmacy
                %span.name Pharmacists  
        
              %label.checkbox-inline
                = f.check_box :available_to_technician
                %span.name Technician  
             
              %label.checkbox-inline
                = f.check_box :available_to_patient
                %span.name Patient                  
      
    %hr 
    .section
      ._title
        App Settings
      ._body              
        .row
          .col-md-12
            .input-container              
              %label.checkbox-inline
                = f.check_box :renew_notify
                %span.name Renewal notification 
                
              %label.checkbox-inline
                = f.check_box :auto_renew
                %span.name Auto renew                 

              %label.checkbox-inline
                = f.check_box :published
                %span.name Published                 
        
              %label.checkbox-inline
                = f.check_box :default
                %span.name Default        
      
      %hr
      .row      
        .col-md-4.col-md-offset-8
          .action._large._normalize.pull-right._submit    
            Save
            = f.submit '' 
