.modal-loading
  %p Fetching Data 
.modal-ready
  #_dg-message-single._dg-chat
    - if @conversation
      ._header
        ._title
          RX# #{@conversation.prescription.identifier} MESSAGES 
        - unless @conversation.message_status.humanize.blank?
          ._sub-title
            %label
              ._badge._stateful{:class => (@conversation.message_status.dasherize rescue '')}
                = @conversation.message_status.humanize   
        .pull-right
          ._controls                      
            %a.exit.dg-icon._ic-close{:tabindex => "-1", "aria-label" => "close", "data-dismiss" => "modal"}    
                                    
      = form_for :message, :url => pharmacist_messages_path, :html => { :id => 'prescription_message' } do |f|
        = f.hidden_field :asset_type, :value => 'DispenseOrder'
        = f.hidden_field :asset_id, :value => @conversation.id
        = f.hidden_field :require_response, :value => '1'
          
        ._contents  
          .row
            .col-md-12
              .profile-info.section
                %h3
                  %span.bold-tx To:
                  = @conversation.physician.name
                %p
                  %span.bold-txt Contact:
                  = @conversation.physician.phone_primary 
              %hr                                
                            
          .row
            .col-md-12
              .section
                ._body 
                  ._notes
                    %ul
                      - @conversation.messages.order('created_at ASC').each do |message|
                        %li
                          .row
                            .col-md-8
                              ._meta._title #{message.sender.firstname} #{message.sender.lastname}                        
                            .col-md-4.text-right
                              ._meta #{message.created_at.strftime '%m/%d/%Y - %I:%M %p'}
                          %p._content._small
                            = message.body   
                      
          - if @conversation.commentable?
            .hide-if-resolved  
              .row                          
                .col-md-12
                  .section                        
                    ._body
                      .input-container
                        .row
                          .col-md-12
                            %label._full-input
                              = f.text_area :body, :class => 'required ds-radio', :placeholder => "Enter your response here."
                      .input-container                          
                        .row
                          .col-md-12
                            %label.checkbox.pull-right
                              - unless @conversation.messages.present?
                                %span.name Needs a response?
                                = f.check_box :require_response, :class => 'ds-radio'
                                
                              - else
                                %span.name Mark as resolved?  
                                = f.check_box :mark_as_resolved, :class => 'ds-radio'
  
              ._footer
                .row
                  .col-md-12
                    %a#send_message.action._large._submit.pr{:tabindex => '0'} SEND
        
      :javascript
        (function($) {
          $('._dg-chat ._body ._notes').scrollTop($('._dg-chat ._body ._notes')[0].scrollHeight);
        })(jQuery);      
