- content_for :title, "Physicians"
- content_for :page_title, "Physicians"

- content_for :page_action do
  = link_to 'New Physician', new_admin_physician_path, :class => 'action _default _focus'
  
- content_for :filter do  
  .col-md-4
    = form_tag :admin_physicians, :method => :get do
      .input-container
        %label._full-input
          = text_field_tag :term, @term, :class => "", :placeholder => "Search Physician"
          .form-helper.text-right
            press Enter 
    
._medium
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th 
              %span.title Name
            %th
              %span.title Email
            %th
              %span.title Phone              
            %th
              %span.title Reg #
            %th
              %span.title Active             
            %th.text-right
              %span.title Actions 
        %tbody
          - @physicians.order(lastname: :asc).each do |physician|
            %tr
              %td
                = link_to edit_admin_physician_path(physician) do
                  #{physician.lastname}, #{physician.firstname}
              %td= physician.email_primary
              %td= physician.phone_primary
              %td= physician.reg_num
              %td
                - unless physician.active? 
                  NO
                - else
                  YES
              %td.text-right              
                = link_to '', admin_physician_path(physician), :method => :delete, :data => { :confirm => 'delete' }, :class => 'ds-icon _ic-delete'

              
= paginate @physicians