- content_for :page_title do
  Login
  
.row
  .col-xs-12.col-xs-offset-0.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
    .row
      .col-xs-12.col-xs-offset-0.col-sm-12.col-sm-offset-0.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        ._medium
          = form_for :test_center_session, :url => test_center_login_path do |f|
            .section
              ._section
                ._logo
                  .row
                    .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-6.col-xs-offset-3
                      = image_tag 'logo_lg.svg', "data-svg-fallback" => image_path('logo_lg.png')
                - unless flash.blank?
                  = render 'partials/notice_flash'    
                  
              ._body
                .input-container
                  .row
                    .col-md-12
                      %label._full-input
                        = f.text_field :email_primary, :placeholder => "Email", :tabindex => "1", :autofocus => "autofocus", :class => "required"
                        .form-helper
                          Your email address is required.
                          
                .input-container
                  .row              
                    .col-md-12
                      %label._full-input
                        = f.password_field :password, :placeholder => "Password", :class => "required"
                        .form-helper
                          Your password is required.
                          
                .input-container
                  .row
                    .col-md-12
                      .action._huge._fill._normalize._submit{:tabindex => 0}
                        Login
                        = f.submit ''    

            .row
              .col-md-12
                - if @test_center_session.attempted_record && !@test_center_session.attempted_record.active?
                  %p._small
                    = link_to "Resend activation E-mail?", test_center_new_activation_url(@test_center_session.attempted_record), :class => "_link"
                - else
                  %p._small
                    = link_to "Forgot your password?", test_center_new_password_reset_url, :class => "_link"
                    
              .col-md-12  
                ._small
                  = link_to "Dont have an account? Signup.", test_center_signup_url, :class => "_link"         
